* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1f242d;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(31, 36, 45, 0.9);
}

.navbar .logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a {
    font-size: 18px;
    font-weight: 500;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #3df06a
}

/*Home*/

.home {
    margin-top: 80px;
    display: flex;
    align-items: center;
    height: calc(100vh - 70px);
    padding: 60px 10%;
    color: #fff;
}

.home-info h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.home-info h2 {
    font-size: 28px;
}

/*.home-info h2 span {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #3df06a;
}
*/
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 30px;
    background-color: #3df06a;
    border: 2px solid #3df06a;
    border-radius: 40px;
    box-shadow: 0 0 10px #3df06a;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn:hover {
    background: transparent;
    color: #3df06a;
    box-shadow: none;
}

.home-img {
    margin-bottom: 50px;
}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    background-color: #1f242d;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    /*content: '';
    position: absolute;*/
    width: 500px;
    height: 500px;
    /*background: conic-gradient(transparent, transparent, #3df06a, transparent);*/
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border-radius: 50%;
    border: 0.1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}



.home-img .img-box .img-item img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    object-fit: cover;
}

/*Home*/

/*ethics*/

.ethics {
    display: flex;
    margin-top: 40px;
    margin-left: 100px;
}

.ethics .ethics-info h2 {
    color: #fff;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.ethics .ethics-info h3.ethic2 {
    color: #fff;
    padding-bottom: 15px;
    padding-left: 60px;
    letter-spacing: 10px;
}

.ethics .ethics-info h3 {
    color: #fff;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 60px;
    letter-spacing: 10px;
}

ul {
    margin: 5pt;
}

.Gultrah {
    color: rgb(255, 217, 0);
    font-size: x-large;
    margin: 5pt;
}

.ethics .ethics-info a.gulyout {
    color: rgb(255, 217, 0);
    text-decoration: underline;
}

.ethics .ethics-info a.crisinsta {
    color: rgb(0, 174, 255);
    text-decoration: underline;
}

.ethics .ethics-info a.realinsta {
    color: white;
    text-decoration: underline;
}

.ethics .ethics-info a.cssinsta {
    color: white;
    text-decoration: underline;
}

.ethics .ethics-info span {
    display: flex;
    padding-bottom: 100px;
}

.ethics .ethics-info span p {
    color: #fff;
    justify-content: center;
    width: 60%;
    padding-top: 30px;
    padding-left: 0px;
    word-spacing: 5px;
    line-height: 1.7;
}

.ethics .ethics-info span img.gultrah {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255, 217, 0);
}

.Mickael {
    color: rgb(11, 0, 163);
    font-size: x-large;
    padding-top: 30px;
    margin: 5pt;
}

.ethics .ethics-info span img.mickael {
    width: 230px;
    height: 400px;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(11, 0, 163);
}


.Cristiano {
    color: rgb(0, 174, 255);
    font-size: x-large;
    padding-top: 30px;
    margin: 5pt;
}

.ethics .ethics-info span img.cristiano {
    width: 340px;
    height: 400px;
    margin-left: 100px;
    border-radius: 20px;
}

.Real {
    color: white;
    font-size: x-large;
    padding-top: 30px;
    margin: 5pt;
}

.ethics .ethics-info span img.real {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
}

.Pes {
    color: rgb(255, 223, 42);
    font-size: x-large;
    padding-top: 30px;
    margin: 5pt;
}

.ethics .ethics-info span img.pes {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(255, 223, 42);
}

.Css {
    color: white;
    font-size: x-large;
    padding-top: 30px;
    margin: 5pt;
}

.ethics .ethics-info span img.cssf {
    width: 200px;
    height: 250px;
    margin-top: 40px;
    margin-left: 130px;
}

.gta {
    color: rgb(201, 97, 0);
    font-size: x-large;
    padding-top: 30px;
    margin: 5pt;
}

.ethics .ethics-info span img.gta {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(201, 97, 0);
}



/*ethics*/

/*contact*/

.contact {
    display: flex;
    margin-top: 110px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 600px;
    width: 50%;
    margin: 0;
    margin-left: 150px;
}

label {
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

input,
textarea {
    width: 80%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    outline: none;
    text-align: left;
}

input:focus,
textarea:focus {
    border-color: #3df06a;
    background-color: rgba(255, 255, 255, 0.2);
}

textarea {
    height: 100px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #3df06a;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #32c957;
}

.contact-info {
    margin-top: 140px;
    margin-left: 100px;
    color: white;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-liste {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #444;
}

.contact-img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

h6 {
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    padding-left: 34px;
    font-size: 1rem;
    color: white;
}


/*contact*/

/*skills*/

.skills {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

/* Card Content Section */
.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.card {
    width: 100%;
    max-width: 20rem;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #f9f9f9, #ffffff);
}

.card-img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    margin-left: 15px;
    text-align: left;
    font-size: 1.4rem;
    padding: 10px 0;
    border-bottom: 2px solid #f0f0f0;
}

.card-text {
    font-size: 1rem;
    color: #555;
    text-align: justify;
    line-height: 1.8;
    padding: 10px 15px;
}


/*skills*/

/*Diplomes*/

.diplomes {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    text-decoration: underline;
}

.card-dip {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

embed {
    width: 100%;
    height: 330px;
    border: none;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.text-body-secondary {
    color: #777;
}

.description {
    color: #1f242d;
}

/*Diplomes*/

/*TP*/

.tp-text {
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    font-size: 20px;
}

.TP {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 80px auto;
    text-align: center;
    color: #fff;
}

.TP h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tps {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tps:hover {
    background-color: #32c957;
    transform: translateY(-3px);
}

/*quiz*/

.quiz-container {
    max-width: 600px;
    margin: 100px auto;
    background: #2a2e35;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 120px;
}

.quiz-title {
    text-align: center;
    color: white;
}

.question {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.answers button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #2a2e35;
    border: 2px solid;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.answers button:hover {
    background-color: transparent;
    color: #3df06a;
}

.result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.result button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3df06a;
    border: 2px solid #3df06a;
    border-radius: 40px;
    color: #1f242d;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px #3df06a;
    transition: all 0.4s ease;
}

.result button:hover {
    background-color: transparent;
    color: #3df06a;
    box-shadow: none;
}

.quiz-img .img-box {
    margin: 20px auto;
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #1f242d;
    border-radius: 50%;
    border: 2px solid #1f242d;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-img .img-box img {
    width: 100%;
    height: 100%;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

#submit {
    padding: 10px 20px;
    font-size: 16px;
    display: none;
    background-color: #3df06a;
    border: 2px solid #3df06a;
    border-radius: 40px;
    box-shadow: 0 0 10px #3df06a;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: all 0.4s ease;
}

#submit:hover {
    background: transparent;
    color: #3df06a;
    box-shadow: none;
}

.restart-quiz {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3df06a;
    border: 2px solid #3df06a;
    border-radius: 40px;
    box-shadow: 0 0 10px #3df06a;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: all 0.4s ease;
}

.restart-quiz:hover {
    background: transparent;
    color: #3df06a;
    box-shadow: none;
}

/*quiz*/

/*IIT*/

.tem-title {
    color: #fff;
    text-align: center;
    margin-top: 120px;
    text-decoration: underline;
    font-size: 1.5rem;
}

.tem-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
}

.tem-text {
    flex: 1;
    max-width: 60%;
    text-align: justify;
    margin-top: 60px;
}

.tem-video {
    flex: 1;
    max-width: 40%;
    margin-top: 50px;
}

.tem-video video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.tem-IIT2 {
    font-size: 15px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
    color: white;
}

.tem-author {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 80px;
}


/*IIT*/


@media (max-width: 768px) {

    /*navbar*/

    .navbar .logo {
        font-size: 20px;
        font-weight: 700;
    }

    .navbar ul li a {
        font-size: 15px;
    }

    /*navbar*/

    /*home*/

    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 5%;
        margin-top: 80px;
    }

    .home-info {
        margin-bottom: 20px;
    }

    .home-info h1 {
        font-size: 36px;
    }

    .home-info h2 {
        font-size: 24px;
    }

    .home-info p {
        font-size: 14px;
    }

    .home-img .img-box {
        width: 50vw;
        height: 50vw;
        transform: translateY(0); 
    }

    .home-info .btn-sci {
        gap: 270px;
    }

    /*home*/

    /*ethics*/

    .ethics {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .ethics {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .ethics .ethics-info h2 {
        padding-top: 80px;
    }

    .ethics .ethics-info span {
        flex-direction: column;
        align-items: center;
    }

    .ethics .ethics-info span p {
        width: 80%;
        padding: 10px 0;
    }

    .ethics .ethics-info span img.cssf {
        margin: 20px 0;
    }


    /*ethics*/

    /*contact*/
    .contact {
        margin-top: 140px;
    }

    form {
        max-width: 90%;
        width: 100%;
        margin-left: 20px;
        padding: 15px;
    }

    label {
        font-size: 1rem;
        margin: 8px 0;
    }

    input,
    textarea {
        width: 80%;
        margin: 8px 0;
        padding: 8px;
        font-size: 0.9rem;
    }

    textarea {
        height: 80px;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    .contact-info {
        margin-top: 60px;
        margin-left: 0;
        padding: 15px;
    }

    .contact-liste {
        padding: 15px 0;
        flex-direction: column;
        text-align: center;
    }

    .contact-img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 1.2rem;
        justify-content: center;
    }

    p {
        padding-left: 0;
        font-size: 0.9rem;
    }

    /*contact*/

    /*skills*/

    .skills {
        font-size: 1.2rem;
        margin-top: 120px;
        animation: fadeIn 1s ease-in-out;
    }

    .card-content {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .card {
        max-width: 50%;
        margin-bottom: 20px;
    }

    .card-title {
        margin-left: 10px;
        font-size: 1.2rem;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .card-text {
        font-size: 1rem;
        line-height: 1.6;
        padding: 10px 15px;
    }




    /*skills*/

    /*diplomes*/

    .card-dip {
        gap: 30px;
    }

    button {
        width: 30px;
        height: 30px;
        margin: 20px 0 5px;
        border-width: 1.5px;
    }

    button:hover {
        color: #fff;
        background-color: #3df06a;
    }

    embed {
        height: 300px;
    }

    /*diplomes*/

    /*TP*/
    .TP {
        margin: 60px 100px;
    }

    .TP h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .tps {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        font-size: 1rem;
    }

    /*TP*/

    /*quiz*/

    .quiz-container {
        max-width: 500px;
    }

    .answers button {
        height: 45px;
    }

    .result button {
        width: 220px;
        height: 50px;
        border: 2px solid #3df06a;
        border-radius: 40px;
        box-shadow: 0 0 10px #3df06a;
        font-size: 16px;
        color: #1f242d;
        font-weight: 600;
        transition: all 0.4s ease;
    }

    #submit {
        width: 80px;
        height: 50px;
        padding: 10px 20px;
        font-size: 16px;
        display: none;
        background-color: #3df06a;
        border: 2px solid #3df06a;
        border-radius: 40px;
        box-shadow: 0 0 10px #3df06a;
        font-size: 16px;
        color: #1f242d;
        font-weight: 600;
        transition: all 0.4s ease;
    }

    .restart-quiz {
        width: 150px;
        height: 50px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #3df06a;
        border: 2px solid #3df06a;
        border-radius: 40px;
        box-shadow: 0 0 10px #3df06a;
        font-size: 16px;
        color: #1f242d;
        font-weight: 600;
        transition: all 0.4s ease;
    }

    /*quiz*/

    /*IIT*/

    .tem-container {
        display: block;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .tem-text {
        max-width: 100%;
        margin: 20px 0;
        text-align: justify;
    }

    .tem-video {
        max-width: 100%;
        margin: 20px 0;
    }

    .tem-video video {
        width: 100%;
        height: auto;
    }

    .tem-IIT2 {
        font-size: 15px;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .tem-author {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    /*IIT*/
}